{% extends 'base.html.twig' %}

{% block title %} Паттерн - Abstract Factory {% endblock %}
{% block body %}
    <h3><a href="/pattern">Паттерны</a> / Паттерн - Abstract Factory</h3>
    <h4>Описание</h4>
    <p>Абстрактная фабрика - паттерн, порождающий паттерны</p>
    <p>Предоставляет интерфейс для создания семейств взаимосвязанных или взаимозависимых объектов, не специфицируя их конкертных классов</p>
    <h4>Решение проблем</h4>
    <p>Создание семейства взаимосвязанных или взаимозависимых объектов (не специфицирую их конкретных классов).</p>
    <h4>Недостатки</h4>
    <p>Строго ограничивает набор классов</p>
    <h4>Использование</h4>
    <h5>Задача</h5>
    <p>Создать модуль для отправки уведомления с помощью sms, e-mail и возможностью разширения.</p>
    <h5>Результаты</h5>
    <p><a href="/notification">Пример работы паттерна</a></p>
    <h4>Выводы</h4>
    <p>При решение задачи были выявлино масса преимуществ. Реализован модуль Уведомлений с возможностью разширения.</p>
{% endblock %}
