{% extends 'base.html.twig' %}

{% block title %} Паттерн - Builder {% endblock %}
{% block body %}
    <h3><a href="/pattern">Паттерны</a> / Паттерн - Builder</h3>
    <h4>Описание</h4>
    <p>Строитель - паттерн, порождающий объекты</p>
    <p>Отделяет конструирование сложного объекта от его представления, так что в результате одного и того же процесса конструирования могут получаться разные представления.</p>
    <h4>Пример</h4>
    <p><a href="/form_builder">Form Builder</a></p>
{% endblock %}
