{% extends 'base.html.twig' %}

{% block title %} Паттерн - Factory Method {% endblock %}
{% block body %}
    <h3><a href="/pattern">Паттерны</a> / Паттерн - Factory Method</h3>
    <h4>Описание</h4>
    <p>Фабричный метод - паттерн, порождающий классы</p>
    <p>Определяет интерфейс для создания объекта, но оставляет подклассам решение о том, какой класс инстанцировать. Фабричный метод позволяет классу делигировать инстанцирование подклассам.</p>
    <h4>Суть структуры</h4>
    <p>...</p>
    <h4>Мое мнение</h4>
    <p>...</p>
    <h4>Использование</h4>
    <p>...</p>
    <h4>Выводы</h4>
    <p>...</p>
{% endblock %}
