{% extends 'base.html.twig' %}

{% block title %} Паттерн - Prototype {% endblock %}
{% block body %}
    <h3><a href="/pattern">Паттерны</a> / Паттерн - Prototype</h3>
    <h4>Описание</h4>
    <p>Прототип - паттерн, порождающий объекты</p>
    <p>Задает виды создаваемых объектов с помощью экземпляра-прототипа и создает новые объекты путем копирования этого прототипа.</p>
    <h4>Суть структуры</h4>
    <p>...</p>
    <h4>Мое мнение</h4>
    <p>...</p>
    <h4>Использование</h4>
    <p>...</p>
    <h4>Выводы</h4>
    <p>...</p>
{% endblock %}
