{% extends 'base.html.twig' %}

{% block title %} Паттерн - Singleton {% endblock %}
{% block body %}
    <h3><a href="/pattern">Паттерны</a> / Паттерн - Singleton</h3>
    <h4>Описание</h4>
    <p>Одиночка - паттерн, порождающий объекты</p>
    <p>Гарантирует, что у класса есть только один экземпляр, и представляет к нему глобальную точку доступа.</p>
    <h4>Суть структуры</h4>
    <p>Используется сокрытие методов:</p>
    <ul>
        <li>__construct - метод конструктор, запускается при создание объекта</li>
        <li>__clone - метод для создания объекта с абсолютно идентичными свойствами</li>
        <li>__sleep - состоит в завершении работы над данными, ждущими обработки или других подобных задач очистки</li>
        <li>__wakeup - метод используется для восстановления соединения с базой данных, которые моги быть потеряны во время операции сериализации и выполениния других операций повтороной инициализации</li>
    </ul>
    <p>Создается метод для создания экземпляра класса.</p>
    <h4>Использование</h4>
    <p>Создано "два объекта" класса Product.</p>
    <p>{{ dump(test) }}</p>
    <h4>Выводы</h4>
    <p>Показана работа паттерна "Одиночки" для создания класса для которого можно создать только один экземпляр.</p>
{% endblock %}
